/* -- Desktop -- */
@media (max-width: 1200px) {
  .wrap {
    padding: 0 30px;
  }
}

/* -- Tablet -- */
@media screen and (max-width: 1100px) {
  :root {
    --font-size-h1: 46px;
    --font-size-h2: 30px;

    --font-height-h1: 56px;
    --font-height-h2: 40px;
  }
  nav > ul {
    display: none;
  }
  .btn-menu {
    display: block;
  }
  footer {
    padding: 50px 0 !important;
  }
  footer .wrap .content_box {
    display: inline-block;
  }
  footer .wrap .content_box .ft_info {
    margin-top: 30px;
  }
  footer .wrap .ft_info .text {
    margin-top: 30px;
  }
  footer .wrap .content_box:nth-child(n + 2) {
    margin-top: 30px;
  }
  footer .wrap .content_box:nth-child(n + 2) .text {
    margin-top: 20px;
  }
  .tit_type_01 h2 br {
    display: none;
  }
  .list_type_01 li {
    display: inline-block;
    width: 100%;
  }
  .list_type_01 li .tit_type_02 {
    padding: 20px;
  }
  .list_type_01 li .img_box {
    width: 100%;
    height: 400px;
  }
  .list_type_01 li .img_box img {
    height: 100%;
    object-fit: contain;
  }
  .list_type_01 li .text_box {
    width: 100%;
    padding: 20px;
  }
  .list_type_01 li:nth-child(2n) .text_box {
    text-align: left;
  }
  .list_type_03 ul li {
    gap: 0;
  }
  .list_type_03 ul li:nth-child(n + 2) {
    margin-top: 20px;
  }
  .list_type_03 ul li .text_box span {
    margin-top: 0;
  }
  .new_list {
    grid-template-columns: repeat(2, 1fr);
  }
  .new_list li .img_box {
    height: 200px;
  }
  .table_type_01 table {
    width: 100%;
  }
  .list_type_02 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .list_type_02 > ul > li:nth-child(n + 2) {
    margin-left: 0;
  }
  .list_type_04 .list_wrap {
    display: inline-block;
    width: 100%;
  }
  .list_type_04 .list_wrap .img_box {
    width: 100%;
  }
  .list_type_04 .list_wrap .img_box img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  .people_list ul li .text_box {
    width: calc(100% - 200px);
    margin-left: 30px;
  }
  .infinite_content .infinite_wrap {
    margin: 10% 0 0 0;
  }
  .infinite_content .infinite_wrap .infinite_box {
    width: 50%;
  }
  .infinite_content .icon_wrap > div {
    width: 18%;
    height: 35%;
  }
  .infinite_content .icon_wrap .data,
  .infinite_content .icon_wrap .care {
    left: 16%;
  }
  .infinite_content .icon_wrap .treatment,
  .infinite_content .icon_wrap .diagnosis {
    right: 14%;
  }
  .infinite_content .icon_wrap .logoCenter {
    transform: translate(-324%, -50%);
  }
  .slider_content .img_box img {
    height: 300px;
  }
  #main #section_04 .wrap .content_box .content {
    display: inline-block;
  }
  #main #section_04 .wrap .content_box .content .img_box {
    width: 100%;
    height: 400px;
  }
  #main #section_04 .wrap .content_box .content .img_box img {
    object-fit: contain;
  }
  #main #section_04 .wrap .content_box .content .text_box {
    width: 100%;
  }
  #main #section_05 .wrap .content_box {
    padding: 50px 30px;
  }
  #main #section_06 .tabCon .content ul li img {
    height: 250px;
  }
  #company_about .video_box iframe {
    height: 400px;
  }
  #contact .map_list ul li iframe {
    height: 400px;
  }
}

/* 모바일 가로 & 테블릿 세로 */
@media screen and (max-width: 768px) {
  :root {
    --font-size-h1: 24px;
    --font-size-h2: 20px;

    --font-size-lg: 18px;
    --font-size-md: 14px;
    --font-size-sl: 12px;
    --font-size-sm: 10px;

    --font-height-h1: 30px;
    --font-height-h2: 28px;

    --font-height-lg: 24px;
    --font-height-md: 20px;
    --font-height-sl: 16px;
    --font-heightize-sm: 14px;
  }
  .logo-box a img {
    width: 80px;
  }

  footer .wrap .ft_info ul {
    display: none;
  }
  footer .wrap .logo_box img {
    width: 100px;
  }
  .ico-nav {
    width: 24px;
    height: 24px;
  }
  .ico-nav i:nth-child(2),
  .ico-nav i:nth-child(3) {
    top: 10px;
  }
  .ico-nav i {
    height: 2px;
  }
  .ico-nav i:nth-child(4) {
    top: 20px;
  }
  .tit_type_01 p br {
    display: none;
  }
  #main section {
    margin: 100px 0;
  }
  #main main .wrap .main_tit h1 br {
    display: none;
  }
  #main main .wrap .main_tit h1 {
    bottom: 80px;
  }
  #main #section_04 .wrap .content_box .content .img_box {
    height: 200px;
  }
  #main #section_04 .wrap .content_box .content .text_box {
    margin-top: 20px;
  }
  #main #section_05 .wrap .content_box {
    padding: 30px 20px;
  }
  #main #section_06 .tabCon .content ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #main #section_06 .tabCon .content ul li {
    width: 100%;
  }
  #main #section_06 .tabCon .content ul li img {
    height: 200px;
  }
  #main #section_06 .content ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #main #section_06 .content ul li {
    width: 100%;
  }
  #main #section_06 .content ul li img {
    height: 200px;
  }
  #section_08 .new_list {
    grid-template-columns: repeat(1, 1fr);
  }
  #platform_iomt .list_type_01:last-child li:last-child .img_box img {
    height: 70%;
  }
  #company_about .video_box iframe {
    height: 200px;
  }
  #company_about .company_img_box img {
    height: 200px;
    object-fit: cover;
  }
  #company_about .map_box img {
    margin-top: 30px;
  }
  #contact .map_list ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  #contact .map_list ul li {
    width: 100%;
  }
  #contact .map_list ul li iframe {
    height: 200px;
  }
  .rolling_wrap .rolling-list ul li {
    width: 140px;
    height: 130px;
    margin: 0 30px;
    padding: 0px;
  }
  .new_list {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .new_list li .text_box {
    padding: 10px;
  }
  .new_list li .img_box {
    height: 130px;
  }
  .list_type_02 ul {
    gap: 30px;
  }
  .tit_type_02 p {
    margin-top: 10px;
  }
  .list_type_04 .text_wrap {
    padding-bottom: 20px;
  }
  .list_type_04 .list_wrap .img_box img {
    height: 200px;
  }
  .people_list ul li {
    display: inline-block;
  }
  .people_list ul li .text_box {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .people_list ul li:nth-child(2n) .text_box {
    text-align: left;
    margin-right: 0;
  }
  .tab_content {
    margin-top: 30px;
  }
  .tab_item {
    width: 100%;
  }
  .tab_item:nth-child(4) {
    margin-left: 0;
    margin-top: 10px;
  }
  .tab_item:nth-child(6) {
    margin-left: 0;
    margin-top: 10px;
  }
  .list_type_01 li .img_box {
    height: 200px;
  }
  .tabmenu > ul > li:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 10px;
  }
  .slider_content .img_box img {
    height: 200px;
  }
  .slider_content .text_box {
    margin-top: 10px;
    padding: 0px;
  }
  .up_wrap {
    padding: 0 30px 30px;
  }
  .up_btn {
    width: 50px;
    height: 50px;
  }
  .up_btn .icon_up {
    width: 20px;
    height: 20px;
  }
  .btn_type_01 {
    height: 35px;
  }
}

/* 모바일 360 이하 */
/* 모바일 세로*/
@media screen and (max-width: 360px) {
  body {
    border: 3px solid blue;
  }
}
