* {
  box-sizing: border-box;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  /* word-break: keep-all; */
  background-image: url(../img/main/bakcground.jpg);
  color: var(--color-primary);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  position: relative;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff9050;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.section_wrap {
  width: 100%;
  height: 100%;
}

.content_box {
  width: 100%;
}

/*======================= main ======================= */
#main main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/main/img_01.jpg);
  background-size: cover;
  background-position: center;
}
#main main .wrap {
  width: 100%;
  height: 100%;
}
#main main .wrap .main_tit {
  position: relative;
  width: 100%;
  height: 100%;
}
#main main .wrap .main_tit h1 {
  position: absolute;
  left: 0;
  bottom: 150px;
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
  color: var(--color-light);
}
#main section {
  margin: 200px 0;
}
/* section_01 */
#main #section_01 video {
  border: 1px solid #000;
  width: 100%;
  background-color: #fff;
}
/* section_04 */
#main #section_04 .wrap .content_box .content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
#main #section_04 .wrap .content_box .content .img_box {
  width: 50%;
}
#main #section_04 .wrap .content_box .content .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main #section_04 .wrap .content_box .content .text_box {
  width: 50%;
}
#main #section_04 .wrap .content_box .content .text_box p {
  display: inline-block;
  font-size: var(--font-size-lg);
  font-weight: 700;
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
}
#main #section_04 .wrap .content_box .content .text_box span {
  display: inline-block;
  font-size: var(--font-size-md);
  margin-top: 10px;
}
/* section_05 */
#main #section_05 .wrap .content_box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/main/img_05.jpg);
  background-size: cover;
  padding: 100px 80px;
  color: #fff;
}
/* section_06 */
#main #section_06 .content {
  margin-top: 30px;
}
#main #section_06 .content ul {
  display: flex;
  gap: 30px;
}
#main #section_06 .content ul li {
  width: 25%;
}
#main #section_06 .content ul li p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: 700;
  margin-bottom: 20px;
}
#main #section_06 .content ul li img {
  background-color: #fff;
  width: 100%;
  height: 300px;
  object-fit: contain;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
/* section_07 */
#section_07 .rolling_wrap {
  margin-top: 30px;
}
/* section_08 */
#section_08 .new_list {
  grid-template-columns: repeat(3, 1fr);
}
#section_08 .btn_box {
  text-align: center;
  margin-top: 60px;
}

/*======================= sub ======================= */
.sub main {
  position: relative;
  width: 100%;
  height: 60%;
}
.sub main .wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.sub main .wrap h1 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: var(--font-size-h1);
  color: var(--color-light);
}
.sub section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* human */
#human main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/main/img_05.jpg);
  background-size: cover;
  background-position: center;
}
#human section .list_type_01 {
  margin-top: 50px;
}

/* contact */
#contact main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/main/img_09.jpg);
  background-size: cover;
  background-position: 0 80%;
}
#contact .map_list ul {
  display: flex;
  gap: 30px;
}
#contact .map_list ul li {
  width: 50%;
}
#contact .map_list ul li iframe {
  width: 100%;
}
#contact .map_list ul li p {
  margin-top: 20px;
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  text-align: center;
  font-weight: 700;
}
#contact .table_type_01 {
  margin-top: 100px;
}

/* science */
.science main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/main/img_07.jpg);
  background-size: cover;
}
#science_cardiology .table_box {
  margin-top: 100px;
}
#science_cardiology .table_box .table_type_01 {
  margin-top: 30px;
}
#science_cardiology .list_type_03 {
  margin-top: 50px;
}

/* company */
.company main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/main/img_06.jpg);
  background-size: cover;
}
#company_about .company_img_box img {
  width: 100%;
}
#company_about .tit_type_02 {
  margin-top: 50px;
}
#company_about .video_box {
  margin-top: 100px;
}
#company_about .video_box iframe {
  border: 1px solid #000;
  width: 100%;
  height: 600px;
  background-color: #fff;
}
#company_about .video_box video {
  border: 1px solid #000;
  width: 100%;
  background-color: #fff;
}
#company_about .list_type_04 {
  margin-top: 100px;
}
#company_about .map_box {
  margin-top: 100px;
}
#company_about .map_box h3 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  text-align: center;
}
#company_about .map_box img {
  margin-top: 50px;
  width: 100%;
}

#company_jobs .img_box img {
  margin-top: 50px;
  width: 100%;
}
#company_jobs .img_box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  margin-top: 30px;
}

/* news */
#news main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/main/img_15.jpg);
  background-size: cover;
  background-position: center center;
}

/* news */
.platform main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/main/img_08.jpg);
  background-size: cover;
  background-position: center center;
}

#platform_ai .list_type_01 {
  margin-top: 100px;
}
#platform_ai .list_type_03 {
  margin-top: 50px;
}
#platform_iomt .img_text_box {
  margin-top: 100px;
}
#platform_iomt .img_text_box img {
  width: 100%;
}
#platform_iomt .img_text_box h3 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}
#platform_iomt .list_type_03 {
  margin-top: 100px;
}
#platform_iomt .list_type_01:last-child {
  margin-top: 100px;
}
