* {
  box-sizing: border-box;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  /* word-break: keep-all; */
  background-image: url(../img/main/bakcground.jpg);
  color: var(--color-primary);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  position: relative;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.082);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff9050;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid tan;
}
.section_wrap {
  width: 100%;
  height: 100%;
}

.content_box {
  width: 100%;
}

/* main */
#main main {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/main/img_01.jpg);
  background-size: cover;
  background-position: center;
}
#main main .wrap {
  width: 100%;
  height: 100%;
}
#main main .wrap .main_tit {
  position: relative;
  width: 100%;
  height: 100%;
}
#main main .wrap .main_tit h1 {
  position: absolute;
  left: 0;
  bottom: 150px;
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
  color: var(--color-light);
}
#main section {
  margin: 10% 0;
}
/* section_01 */
#main #section_01 video {
  border: 1px solid #000;
  width: 100%;
  background-color: #fff;
}
/* section_04 */
#main #section_04 .wrap .content_box .content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
#main #section_04 .wrap .content_box .content .img_box {
  width: 50%;
}
#main #section_04 .wrap .content_box .content .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main #section_04 .wrap .content_box .content .text_box {
  width: 50%;
}
#main #section_04 .wrap .content_box .content .text_box p {
  display: inline-block;
  font-size: var(--font-size-lg);
  font-weight: 700;
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
}
#main #section_04 .wrap .content_box .content .text_box span {
  display: inline-block;
  font-size: var(--font-size-md);
  margin-top: 10px;
}
/* section_05 */
#main #section_05 .wrap .content_box {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/main/img_05.jpg);
  background-size: cover;
  padding: 100px 80px;
  color: #fff;
}

/* section_06 */
#main #section_06 {
  height: -webkit-fill-available;
}
#main #section_06 .tabCon .content {
  margin-top: 30px;
}
#main #section_06 .tabCon .content ul {
  display: flex;
  gap: 30px;
}
#main #section_06 .tabCon .content ul li {
  width: 25%;
}
#main #section_06 .tabCon .content ul li p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: 700;
  margin-bottom: 20px;
}
#main #section_06 .tabCon .content ul li img {
  background-color: #fff;
  width: 100%;
  height: 300px;
  object-fit: contain;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
/* section_07 */
#section_07 .rolling_wrap {
  margin-top: 30px;
}
/* section_08 */
#section_08 .new_list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  width: 100%;
}
#section_08 .new_list li {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #d1d5db;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}
#section_08 .new_list li .img_box {
  display: inline-block;
  background-color: #fff;
}
#section_08 .new_list li img {
  width: 100%;
}
#section_08 .new_list li .text_box {
  border-top: 1px solid #d1d5db;
  padding: 20px;
  height: 110px;
}
#section_08 .new_list li .text_box p {
  display: inline-block;
  font-size: var(--font-size-md);
  font-weight: 700;
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
}
#section_08 .new_list li .text_box span {
  display: inline-block;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  margin-top: 10px;
}
#section_08 .btn_box {
  text-align: center;
  margin-top: 60px;
}
