/*======================= header======================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  height: 8rem;
  transition: all 200ms linear;
}
header .wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms linear;
}
.logo-box {
  display: flex;
  align-items: center;
  height: 8rem;
}
.logo-box a {
  display: inline-block;
}
.logo-box a img {
  width: 100px;
  padding: 10px 0;
}

/*======================= nav ======================= */
nav {
  display: inline-block;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 99px;
  padding: 0 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
nav > ul > li:nth-child(n + 2) {
  margin-left: 60px;
}
nav > ul > li > a {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  text-align: center;
  z-index: 1;
  transition: 250ms ease all;
  padding: 7px 0;
  color: var(--color-primary);
}
nav > ul > li > a.active {
  color: var(--color-point);
  font-weight: 700;
}
nav > ul > li > a:hover {
  color: var(--color-point);
  font-weight: 700;
}

/*======================= footer ======================= */
footer {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 3% 0 !important;
}
footer .wrap {
  width: 100%;
}
footer .wrap .content_box {
  display: flex;
  justify-content: space-between;
}
footer .wrap .content_box:nth-child(n + 2) {
  margin-top: 80px;
}
footer .wrap .logo_box img {
  width: 160px;
}
footer .wrap .ft_info ul {
  display: flex;
}
footer .wrap .ft_info ul li:nth-child(n + 2) {
  margin-left: 50px;
}
footer .wrap .ft_info ul li a {
  display: inline-block;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-light);
}
footer .wrap .ft_info ul li a:hover {
  color: var(--color-point);
}
footer .wrap .ft_info .text {
  margin-top: 50px;
}
footer .wrap .ft_info .text p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-light);
}
footer .wrap .sub_link span {
  display: inline-block;
  padding: 0px 20px;
}
footer .wrap .content_box .sub_link a {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-light);
}
footer .wrap .content_box .text p {
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: var(--color-light);
}

/*======================= sub_list ======================= */
.sub_list {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.sub_list li {
  width: 100%;
  text-align: center;
  position: relative;
}
.sub_list li.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #2376dd, #ff9050);
}
.sub_list li.active a {
  color: #1f2937;
  font-weight: 700;
}
.sub_list li a {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  color: #1f2937;
}

/*======================= tit_type ======================= */
.tit_type_01 {
  text-align: center;
}
.tit_type_01 h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.tit_type_01 h2 em {
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
}
.tit_type_01 p {
  margin-top: 20px;
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}

/* tit_type_02 */
.tit_type_02 {
  display: inline-block;
}
.tit_type_02 h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.tit_type_02 p {
  margin-top: 20px;
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}
.tit_type_02 h2:nth-child(3) {
  margin-top: 30px;
}

/* ======================= list_type ======================= */
/* .list_type_01  */
.list_type_01 {
  display: inline-block;
}
.list_type_01 li {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
.list_type_01 li:nth-child(n + 2) {
  margin-top: 50px;
}
.list_type_01 li:nth-child(2n) {
  flex-direction: row-reverse;
}
.list_type_01 li:nth-child(2n) .text_box {
  text-align: right;
}
.list_type_01 li .img_box {
  width: 50%;
}
.list_type_01 li .img_box img {
  width: 100%;
}
.list_type_01 li .img_box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  text-align: center;
}
.list_type_01 li .text_box {
  width: 50%;
}
.list_type_01 li .text_box h3 {
  display: inline-block;
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  margin-bottom: 10px;
}
.list_type_01 li .text_box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}
.list_type_01 li.have_p .img_box {
  height: auto;
}
.list_type_01 li.have_p .img_box img {
  height: 400px;
}

/* .list_type_02  */
.list_type_02 {
  margin-top: 10%;
}
.list_type_02 ul {
  display: flex;
}
.list_type_02 ul li {
  border-radius: 999px;
  width: 100%;
  position: relative;
  border: 1px solid #000;
  text-align: center;
}
.list_type_02 > ul > li:nth-child(n + 2) {
  margin-left: 30px;
}
.list_type_02 ul li:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.list_type_02 ul li .inner {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.list_type_02 > ul > li .inner p {
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  font-weight: 700;
}
.list_type_02 > ul > li .inner span {
  display: inline-block;
  margin-top: 20px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
}

/* .list_type_03 */
.list_type_03 ul li {
  display: flex;
  gap: 40px;
}
.list_type_03 ul li:nth-child(n + 2) {
  margin-top: 30px;
}
.list_type_03 ul li .number_box {
  width: 50px;
}
.list_type_03 ul li .number_box span {
  display: inline-block;
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  font-weight: 700;
  color: #9ca3af;
}
.list_type_03 ul li .text_box {
  width: calc(100% - 50px);
}
.list_type_03 ul li .text_box p {
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  font-weight: 700;
}
.list_type_03 ul li .text_box span {
  display: inline-block;
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  margin-top: 10px;
}

.list_type_04 > p {
  display: inline-block;
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  margin-top: 10px;
}
.list_type_04 .list_wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.list_type_04 .text_wrap {
  padding-bottom: 30px;
}
.list_type_04 .text_box {
  padding-left: 30px;
  position: relative;
}
.list_type_04 .text_box::before {
  content: "";
  width: 10px;
  height: 100%;
  background: linear-gradient(to bottom, #2376dd, #ff9050);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.list_type_04 .text_box span {
  color: #4b5563;
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
}
.list_type_04 .text_box p {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  font-weight: 700;
  margin-top: 10px;
}

/* ======================= new_list ======================= */
.new_list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
  width: 100%;
}
.new_list li {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.new_list li .img_box {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 280px;
}
.new_list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.new_list li .text_box {
  border-top: 1px solid #d1d5db;
  padding: 20px;
}
.new_list li .text_box p {
  display: inline-block;
  font-size: var(--font-size-md);
  font-weight: 700;
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 10px;
}
.new_list li .text_box span {
  display: inline-block;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* ======================= people_list ======================= */
.people_list {
  margin-top: 100px;
}
.people_list ul li {
  display: flex;
}
.people_list ul li:nth-child(n + 2) {
  margin-top: 60px;
}
.people_list ul li:nth-child(2n) {
  flex-direction: row-reverse;
}
.people_list ul li:nth-child(2n) .text_box {
  text-align: right;
  margin-left: 0;
  margin-right: 30px;
}
.people_list ul li:nth-child(2n) .img_box::after {
  left: -14px;
}
.people_list ul li .img_box {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #d1d5db;
}
.people_list ul li .img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.people_list ul li .text_box {
  width: 50%;
  margin-left: 50px;
}
.people_list ul li .text_box em {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  color: var(--color-point);
}
.people_list ul li .text_box h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
}
.people_list ul li .text_box p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  margin-top: 20px;
}

/* ======================= .btn_type_01 ======================= */
.btn_type_01 {
  display: inline-block;
  width: 130px;
  height: 40px;
  padding: 10px;
  background: linear-gradient(to right, #2376dd, #ff9050);
  border-radius: 99px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  color: #fff;
  font-weight: 700;
}
/* up button */
.up_wrap {
  text-align: right;
  padding: 0 50px 50px;
}
.up_btn {
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background: linear-gradient(to right, #2376dd, #ff9050);
}
.up_btn .icon_up {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
}

/*  */
.btn-menu {
  display: none;
}
.ico-nav {
  width: 36px;
  height: 36px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.ico-nav i {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #1f2937;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.ico-nav i:nth-child(1) {
  top: 0px;
}
.ico-nav i:nth-child(2),
.ico-nav i:nth-child(3) {
  top: 14px;
}
.ico-nav i:nth-child(4) {
  top: 28px;
}
.ico-nav.open i {
  background-color: #1f2937;
}
.ico-nav.open i:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.ico-nav.open i:nth-child(2) {
  transform: rotate(45deg);
}
.ico-nav.open i:nth-child(3) {
  transform: rotate(-45deg);
}
.ico-nav.open i:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ======================= table_type ======================= */
.table_type_01 {
  display: flex;
  justify-content: center;
}
.table_type_01 table {
  width: 70%;
  border: 1px solid #000;
  border-radius: 20px;
}
.table_type_01 table tbody tr {
  padding: 10px 20px;
}
.table_type_01 table tbody tr th {
  width: 25%;
  padding: 5px 20px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.table_type_01 table tbody tr td {
  padding: 18px 20px;
  font-size: var(--font-size-sl);
  line-height: var(--font-height-sl);
  border-bottom: 1px solid #000;
}
.table_type_01 table tbody tr:last-child th {
  border-bottom: 0;
}
.table_type_01 table tbody tr:last-child td {
  border-bottom: 0;
}

/*======================= tab box ======================= */
/* 탭 스타일 */
.tab_item {
  display: inline-block;
  width: 200px;
  transition: all 0.2s ease;
  padding: 10px 20px;
  text-align: center;
  font-size: var(--font-size-lg);
  line-height: var(--font-height-lg);
  border-radius: 99px;
  border: 1px solid #9ca3af;
}
.tab_item:nth-child(4) {
  margin-left: 20px;
}
.tab_item:nth-child(6) {
  margin-left: 20px;
}
/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}
/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  margin-top: 50px;
}
/* 선택 된 탭 콘텐츠를 표시 */
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}
/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(to right, #2376dd, #ff9050);
  border-radius: 99px;
  border: 0 solid;
}

/*======================= slider ======================= */
.slider_wrap {
  margin-top: 50px;
}
.slider_wrap .slider {
  width: 100%;
}
.slider_wrap .slick-slide {
  margin: 0px 20px;
}
.slider_wrap .slider_content .img_box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.slider_wrap .slider_content .text_box {
  margin-top: 30px;
  padding: 0px 30px;
}
.slider_wrap .slider_content .text_box p {
  display: inline-block;
  font-size: var(--font-size-lg);
  font-weight: 700;
  background: linear-gradient(to right, #2376dd, #ff9050);
  color: transparent;
  -webkit-background-clip: text;
}
.slider_wrap .slider_content .text_box span {
  display: inline-block;
  font-size: var(--font-size-md);
  margin-top: 10px;
}

/* main_slider */
.main_slider {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main_slider .slider_content .img_box img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 0 -250px;
}
.main_slider .slider_content .text_box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main_slider .slider_content h1 {
  position: absolute;
  left: 0;
  bottom: 150px;
  font-size: var(--font-size-h1);
  line-height: var(--font-height-h1);
  color: var(--color-light);
}

/*======================= rolling_wrap ======================= */
.rolling_wrap {
  display: flex;
  overflow: hidden;
}
.rolling_wrap .rolling-list ul {
  display: flex;
}
.rolling_wrap .rolling-list ul li {
  width: 250px;
  height: 130px;
  margin: 0 50px;
  padding: 20px;
}
.rolling_wrap .rolling-list ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rolling-list.original {
  animation: rollingleft1 50s linear infinite;
}
.rolling-list.clone {
  animation: rollingleft2 50s linear infinite;
}
@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/*======================= infinite_content ======================= */
.infinite_content {
  position: relative;
}
.infinite_content .infinite_wrap {
  display: flex;
  margin: 0 20%;
  margin-top: 100px;
}
.infinite_content .infinite_wrap .infinite_box {
  width: 40%;
  margin: 0 auto;
}
.infinite_content .infinite_wrap .infinite_box .infinite {
  padding-top: 100%;
  width: 100%;
  height: 100%;
  border-radius: 100% 60% 100% 100%;
  transform: rotate(45deg);
  margin: 0px;
  background: #e0e0e0;
  position: relative;
  transition: background 0.5s ease-out;
}
.infinite_content .infinite_wrap .infinite_box .infinite::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100% 60% 100% 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.infinite_content .infinite_wrap .infinite_box .infinite::after {
  content: "";
  width: 60%;
  height: 60%;
  border-radius: 100% 0% 100% 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infinite_content .infinite_wrap .infinite_box:nth-child(2) .infinite {
  transform: rotate(225deg);
}
.infinite_content .infinite_wrap:hover .infinite {
  background: linear-gradient(
    var(--rotate),
    #106ab7,
    #0c518d,
    #ff9050,
    #ff7866
  );
  animation: spin 5.5s linear infinite;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.infinite_content .icon_wrap > div {
  position: absolute;
  width: 8%;
  height: 33%;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
}
.infinite_content .icon_wrap .data {
  top: -10px;
  left: 30%;
}
.infinite_content .icon_wrap .treatment {
  top: -10px;
  right: 30%;
}
.infinite_content .icon_wrap .care {
  bottom: -10px;
  left: 30%;
}
.infinite_content .icon_wrap .diagnosis {
  bottom: -10px;
  right: 30%;
}
.infinite_content .icon_wrap .logoCenter {
  position: absolute;
  top: 50%;
  transform: translate(-424%, -50%);
}
.infinite_content .icon_wrap .logoCenter i {
  background-image: url(../../img/common/logo_01.png);
  display: inline-block;
  width: 80%;
  height: 45%;
  background-repeat: no-repeat;
  vertical-align: top;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infinite_content .icon_wrap div .icon_box {
  width: 100%;
  height: 100%;
}
.infinite_content .icon_wrap div .icon_box i {
  display: inline-block;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain;
}
.infinite_content .icon_wrap div span {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: var(--font-size-sm);
  margin-top: 10px;
  font-weight: 700;
}
.infinite_content .icon_wrap .care span,
.infinite_content .icon_wrap .diagnosis span {
  position: absolute;
  top: -34px;
}
.infinite_content .infinite_wrap:hover .icon_wrap .data {
  background-color: var(--color-point);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_planner_g {
  background-image: url(../../img/common/icon/icon_planner_w.png);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_medical_g {
  background-image: url(../../img/common/icon/icon_medical_w.png);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_partner_g {
  background-image: url(../../img/common/icon/icon_partner_w.png);
}
.infinite_wrap:hover .icon_wrap div .icon_box .icon_prescriptions_g {
  background-image: url(../../img/common/icon/icon_prescriptions_w.png);
}
.infinite_content .infinite_wrap:hover .icon_wrap .treatment {
  background-color: #ff9050;
}
.infinite_content .infinite_wrap:hover .icon_wrap .care {
  background-color: #ff9050;
}
.infinite_content .infinite_wrap:hover .icon_wrap .diagnosis {
  background-color: var(--color-point);
}

/* ======================= modla_1 ======================= */
.nav-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--color-light);
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}
.nav-mobile .content-box {
  background: var(--color-light);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8rem 0;
  overflow: hidden;
}
.nav-mobile .content-box > ul {
  margin-top: 30px;
}
.nav-mobile .content-box > ul > li {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: #1f2937;
}
.nav-mobile .content-box > ul > li:hover {
  background: linear-gradient(to right, #2376dd, #ff9050);
}
.nav-mobile .content-box > ul > li:hover a {
  color: #fff;
  font-weight: 700;
}
.nav-mobile .content-box > ul > li > .nav-txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.nav-mobile .content-box > ul > li > .nav-txt span {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: 700;
}
.nav-mobile .content-box > ul > li > ul > li:nth-child(n + 2) {
  margin-top: 1rem;
}
/* nav-mobile open 일 때 */
.nav-mobile .content-box > ul > li.open {
  background-color: var(--color-primary);
  color: var(--color-gray-7);
}
.nav-mobile .content-box > ul > li.open > .nav-txt span {
  color: #fff;
}
.nav-mobile .content-box > ul > li.open > ul {
  display: block;
}
